<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.PointTransactionRepository">

    <select id="select" parameterType="String" resultType="Point_Transaction">
        select * from point_transaction where user_id=#{userId} order by request_date limit 1
    </select>

    <select id="selectAll" parameterType="String" resultType="Point_Transaction">
        select * from point_transaction where user_id=#{userId}
    </select>

    <insert id="insert" parameterType="Point_Transaction">
        INSERT INTO Point_Transaction (transaction_id, user_id, transaction_type, amount, request_date, status, process_date)
        VALUES (0, #{userId}, #{transactionType}, #{amount}, NOW(), #{status}, NULL)
    </insert>

    <update id="update" parameterType="Point_Transaction">
        UPDATE Point_Transaction SET
                        status=#{status},
                        process_date=NOW();
        WHERE user_id=#{userId}
    </update>

    <delete id="delete" parameterType="String">
        DELETE FROM User WHERE user_id=#{userId}
    </delete>

</mapper>