<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org/DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.sm.repository.WishlistRepository">

    <select id="findWishlistProductsByUserId" parameterType="String" resultType="Product">
        SELECT p.*
        FROM Product p
                 JOIN Wishlist w ON p.product_id = w.product_id
        WHERE w.user_id = #{userId}
    </select>

    <select id="countByUserId" parameterType="String" resultType="int">
        SELECT count(*)
        FROM Wishlist
        WHERE user_id = #{userId}
    </select>

</mapper>